In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("employee-salary-data-1.csv")

In [3]:
data

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other,YearToDate
0,1,2008,"Lampkin, Joseph",Louisville Metro Police,Police Officer,45219.2,45140.80,655.26,5546.64,690.00,52032.70
1,2,2008,"Brink, Robin",Louisville Metro Police,Police Officer,49504.0,24060.21,559.00,4132.48,7001.68,35753.37
2,3,2008,"Hightower, Timothy",Louisville Metro Police,Police Officer,53435.2,53817.28,2045.97,8013.04,610.00,64486.29
3,4,2008,"Kiefer, John",Louisville Metro Police,Police Officer,51417.6,49216.00,0.00,7346.16,463.50,57025.66
4,5,2008,"Banta, Robert",Louisville Metro Police,Police Officer,46051.2,46321.36,2225.55,7066.08,1518.00,57130.99
...,...,...,...,...,...,...,...,...,...,...,...
86695,86696,2015,"Hardin, Ashley",Library,Personnel Specialist,33280.0,1280.00,2.40,0.00,0.00,1282.40
86696,86697,2016,"Goldsmith, Charles",Parks & Recreation,Park Aide,31200.0,6573.75,0.00,0.00,0.00,6573.75
86697,86698,2016,"Readus-Wright, Mache'",Public Works,Engineer III,87443.2,86534.23,0.00,0.00,0.00,86534.23
86698,86699,2016,"Selmon, Bobbi",Human Relations Commission,Compliance Analyst,37086.4,36239.06,1.75,0.00,0.00,36240.81
86699,86700,2016,"Parrish, Kent",Louisville Fire,Fire Prevention Inspector I,52873.6,52873.17,691.58,10163.80,1087.56,64816.11

In [4]:
data.head(20)

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other,YearToDate
0,1,2008,"Lampkin, Joseph",Louisville Metro Police,Police Officer,45219.2,45140.80,655.26,5546.64,690.00,52032.70
1,2,2008,"Brink, Robin",Louisville Metro Police,Police Officer,49504.0,24060.21,559.00,4132.48,7001.68,35753.37
2,3,2008,"Hightower, Timothy",Louisville Metro Police,Police Officer,53435.2,53817.28,2045.97,8013.04,610.00,64486.29
3,4,2008,"Kiefer, John",Louisville Metro Police,Police Officer,51417.6,49216.00,0.00,7346.16,463.50,57025.66
4,5,2008,"Banta, Robert",Louisville Metro Police,Police Officer,46051.2,46321.36,2225.55,7066.08,1518.00,57130.99
5,6,2008,"Brandes, Eric",Louisville Metro Police,Police Officer,46924.8,47514.57,260.52,5519.20,330.00,53624.29
6,7,2008,"Miller, Malcolm",Louisville Metro Police,Police Officer,46051.2,44643.90,1296.77,6885.76,1832.00,54658.43
7,8,2008,"Turner, Cheri",Louisville Metro Police,Police Officer,46051.2,46334.16,2245.95,5653.60,2802.00,57035.71
8,9,2008,"Overall, Patrick",Louisville Metro Police,Police Officer,50502.4,50177.28,3735.50,7291.52,0.00,61204.30
9,10,2008,"Fisher, Steven",Louisville Metro Police,Police Officer,46051.2,29558.96,587.37,3808.44,3798.75,37753.52
10,11,2008,"Green, John",Louisville Metro Police,Police Officer,46051.2,46714.11,1485.93,7019.04,2088.00,57307.08
11,12,2008,"Hageman, Roberta",Louisville Metro Police,Police Officer,49587.2,50279.76,737.56,5547.20,238.00,56802.52
12,13,2008,"Boleyjack, Jermeco",Louisville Metro Police,Police Officer,44428.8,32228.64,614.07,2910.00,650.00,36402.71
13,14,2008,"Frederick, Jennifer",Louisville Metro Police,Police Officer,45219.2,46086.43,1149.08,5580.80,822.00,53638.31
14,15,2008,"Wagner, Edward",Louisville Metro Police,Police Officer,45219.2,45528.02,931.65,6954.80,4146.00,57560.47
15,16,2008,"Hall, Amy",Emergency Mgt Agency/MetroSafe,Info Processing Tech-EMA/MS,32073.6,33302.16,2282.10,509.04,511.74,36605.04
16,17,2008,"Alexander, Jeffrey",Louisville Metro Police,Police Officer,48672.0,49209.38,2825.91,6616.48,4586.00,63237.77
17,18,2008,"Irish, Jonathan",Louisville Metro Police,Police Officer,48672.0,48951.04,5842.33,7375.76,2076.00,64245.13
18,19,2008,"Hirtzel, William",Louisville Metro Police,Police Officer,48672.0,48339.64,2357.91,7150.64,50.00,57898.19
19,20,2008,"Woodard, Michael",Louisville Metro Police,Police Officer,45219.2,44698.60,3005.12,5695.81,2756.00,56155.53

In [113]:
#iloc is pandas dataframe
x = data.iloc[:,[5,6,7,8,9]].values
y = data.iloc[:,10].values

In [114]:
x

array([[4.521920e+04, 4.514080e+04, 6.552600e+02, 5.546640e+03,
        6.900000e+02],
       [4.950400e+04, 2.406021e+04, 5.590000e+02, 4.132480e+03,
        7.001680e+03],
       [5.343520e+04, 5.381728e+04, 2.045970e+03, 8.013040e+03,
        6.100000e+02],
       ...,
       [8.744320e+04, 8.653423e+04, 0.000000e+00, 0.000000e+00,
        0.000000e+00],
       [3.708640e+04, 3.623906e+04, 1.750000e+00, 0.000000e+00,
        0.000000e+00],
       [5.287360e+04, 5.287317e+04, 6.915800e+02, 1.016380e+04,
        1.087560e+03]])

In [115]:
y

array([52032.7 , 35753.37, 64486.29, ..., 86534.23, 36240.81, 64816.11])

In [116]:
data.isnull().sum()

SalaryDataID          0
CalendarYear          0
EmployeeName          0
Department            0
JobTitle              0
AnnualRate            0
RegularRate           0
OvertimeRate          0
IncentiveAllowance    0
Other                 0
YearToDate            0
dtype: int64

In [117]:
x = data.drop("YearToDate", axis=1)
y = data["YearToDate"]

In [118]:
x

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other
0,1,2008,"Lampkin, Joseph",Louisville Metro Police,Police Officer,45219.2,45140.80,655.26,5546.64,690.00
1,2,2008,"Brink, Robin",Louisville Metro Police,Police Officer,49504.0,24060.21,559.00,4132.48,7001.68
2,3,2008,"Hightower, Timothy",Louisville Metro Police,Police Officer,53435.2,53817.28,2045.97,8013.04,610.00
3,4,2008,"Kiefer, John",Louisville Metro Police,Police Officer,51417.6,49216.00,0.00,7346.16,463.50
4,5,2008,"Banta, Robert",Louisville Metro Police,Police Officer,46051.2,46321.36,2225.55,7066.08,1518.00
...,...,...,...,...,...,...,...,...,...,...
86695,86696,2015,"Hardin, Ashley",Library,Personnel Specialist,33280.0,1280.00,2.40,0.00,0.00
86696,86697,2016,"Goldsmith, Charles",Parks & Recreation,Park Aide,31200.0,6573.75,0.00,0.00,0.00
86697,86698,2016,"Readus-Wright, Mache'",Public Works,Engineer III,87443.2,86534.23,0.00,0.00,0.00
86698,86699,2016,"Selmon, Bobbi",Human Relations Commission,Compliance Analyst,37086.4,36239.06,1.75,0.00,0.00
86699,86700,2016,"Parrish, Kent",Louisville Fire,Fire Prevention Inspector I,52873.6,52873.17,691.58,10163.80,1087.56

In [119]:
y

0        52032.70
1        35753.37
2        64486.29
3        57025.66
4        57130.99
           ...
86695     1282.40
86696     6573.75
86697    86534.23
86698    36240.81
86699    64816.11
Name: YearToDate, Length: 86700, dtype: float64

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression,LogisticRegression

In [128]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.22,random_state = 4)

In [129]:
x_train

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other
52138,52139,2019,"Wilson, Hannah",Mayor's Office,Special Assistant,43862.00,1687.00,0.00,0.00,1433.95
59452,59453,2008,"Buckley, Richard",Parks & Recreation,Park Worker II,29889.60,30187.54,64.27,150.00,18.00
63252,63253,2014,"Stuhl, Alison",Human Services,Administrative Specialist,30014.40,29709.81,0.00,0.00,0.00
56977,56978,2017,"Hargadon, Donald",Louisville Metro Police,Police Officer,57532.80,57928.79,15802.90,9988.80,2940.00
57269,57270,2018,"Fontaine, Johnny",Develop Louisville,Executive Assistant,32489.60,15754.30,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
65276,65277,2014,"Mattingly, Laura",Develop Louisville,Planning Technician U315,30243.20,9887.20,0.00,0.00,0.00
23346,23347,2013,"Case, Brian",Louisville Fire,Firefighter 56 Hr,49097.98,30960.01,18912.28,6940.36,3075.23
11863,11864,2011,"Moore, David",Louisville Metro Police,Police Officer,50419.20,1509.44,30.71,0.00,0.00
73902,73903,2013,"Gomez, Alicia",Commonwealth Attorney,Attorney - NoEEORpt,43524.00,41287.50,0.00,0.00,0.00
83066,83067,2018,"Lewis, John",Parks & Recreation,Landscaping Supvsr II,48027.20,47523.20,0.00,0.00,923.60

In [101]:
y_train

37819     50009.13
2085       4440.38
63566     62139.85
82073     56163.21
79718    100919.69
           ...
41295     44186.79
64877     77918.65
4714      43109.96
41187     37387.01
31626     21840.00
Name: YearToDate, Length: 76296, dtype: float64

In [102]:
y_test

14234      147.00
22069    49592.45
86582    59200.41
56520    17211.95
23096     9777.60
           ...
32946      353.25
65077    22176.60
66549        3.72
22977     8636.00
9457     62181.20
Name: YearToDate, Length: 10404, dtype: float64

In [105]:
#x = np.array([-1,1])
#np.reshape(x, 2 , order = True)

In [107]:
l = StandardScaler()
x_train = l.fit_transform(x_train)
x_test = l.transform(x_test)

ValueError: could not convert string to float: 'Hill, Christopher'